<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="otpValidated || !otpValidated" class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required />
    </mat-form-field>

    <mat-form-field *ngIf="otpRequested && !otpValidated" class="example-full-width">
      <mat-label>Enter OTP</mat-label>
      <input matInput [(ngModel)]="otp" name="otp" required />
    </mat-form-field>

    <mat-form-field *ngIf="otpValidated" class="example-full-width">
      <mat-label>Enter Old Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="old_password" name="old_password"
        required />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field *ngIf="otpValidated" class="example-full-width">
      <mat-label>Enter New Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="new_password" name="new_password"
        required />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field *ngIf="otpValidated" class="example-full-width">
      <mat-label>Enter Confirm Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="confirm_password" name="confirm_password"
        required />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="!otpValidated && otpRequested" class="otp-timer">
      <p>Time left: {{ minutes }}:{{ seconds | number : "2.0" }}</p>
    </div>

    <div mat-dialog-actions class="d-flex">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" type="submit">
        {{
        otpValidated
        ? "Change Password"
        : otpRequested
        ? "Verify OTP"
        : "Request OTP"
        }}
      </button>
    </div>
  </form>
</div>